<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-10">
        <title>eLearning Samples</title>
      </head>
      <body>
        <h1>eLearning Samples by Marta</h1>
        <p>Please cick on the Next button to start the module</p>
        <!-- <iframe src="/eModule/story.html" width="850" height="700"></iframe> -->
        <iframe src="/eModule/story_html5.html" width="850" height="700"></iframe>
        <p>Please cick on a door to start the module</p>
        <iframe src="/eModuleNADWAD/story_html5.html" width="850" height="700"></iframe>
        <p>Please cick on Next to start the module</p>
        <iframe src="/eModuleDrive/story_html5.html" width="850" height="700"></iframe>
  </body>
</html>
