<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
        <title>Marta's Website</title>
      </head>
      <body>
      {{> header}}
        <p>{{scremIt welcomeMessage}}</p>
        {{> footer}}
     </body>
  </html>
